body {
    margin: 0 auto;
    width: 1900px;
    max-width: 1900px;
}

.content-item {
    display: flex;
    align-items: center;

    width: 1900px;
    height: 70px;
    background: #313131;
}

.thumb {
    height: 27px;
    width: 27px;
    margin-left: 20px;

}

.sabject {
    margin-left: 20px;
    font-size: 22px;
    line-height: 30px;
    color: aliceblue;
}

.head-menu {

    display: flex;

    margin-left: 475px;


}

.item-menu a {
    display: flex;

    padding: 0px 20px;
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    font-size: 15px;

}

.item-menu a:hover {


    color: aqua;
}

.pik {

    right: 0px;
    margin-left: 450px;
    width: 60px;
    height: 70px;
}

.content-int {
    width: 1900px;
    height: 369px;

    background-image: url("../img/header-background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.content-int h1 {
    margin-top: 90px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: blanchedalmond;
}

.btn-green {
    height: 55px;
    width: 170px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin: 80px 10px 10px 10px;
    color: #FFFFFF;
    background-color: rgb(151, 192, 111);
    border-radius: 5px;

}

.btn-blu {
    margin: 80px 10px 10px 10px;
    height: 55px;
    width: 170px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
    background-color: rgb(110, 129, 165);
    border-radius: 5px;

}

.btn-blu,
.btn-green,
a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

.heading {


    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    margin: 50px 0px;

    display: flex;
    justify-content: center;


    text-transform: uppercase;
    color: #18B4CF;

}

.container-disign {
    height: 820px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;

}


.container-disign p {
    text-align: center;

}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {


    margin: 20px;

}

.name-img {
    
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
    padding-top: 20px;
}

.avatar {

    width: 1900px;
    height: 588px;
    background-image: url(../img/parallax.jpg);
    background-attachment: fixed;
}

.container-avatar {
    display: grid;
    justify-content: center;


}

.avatar-text h2 {
    margin-top: 106px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

    text-transform: uppercase;
    color: #FFFFFF;

}

.line {
    margin-top: 140px;
    margin-left: 400px;
    width: 60px;
    border-bottom: 3px solid #18B4CF;
}

.logo-img {
    margin-top: 80px;
    justify-content: center;
}

.logo1,
.logo2,
.logo3,
.logo4 {
    margin-left: 30px;
}

.logo1 {
    margin-bottom: 10px;
}

.caption h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.image-widget {
    display: grid;
    grid-template-columns: repeat(7, 1fr);



}


/* y */

.section {

    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 277px);
    /*grid-auto-rows: minmax(100px auto);*/

    grid-gap: 30px 20px;
    
    margin: 0 auto;
}

.menu-picture1 {
    display: grid;
    grid-auto-flow: column;
  



}

.txt {
    width: 375px;

    font-size: 14px;
    line-height: 21px;
    /* background-color: #F9F7F7; */
}

.txt h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-right: 17px;
    padding-top: 20px;
    text-align: center;

    color: #353A3D;
}

.txt p {
    text-align: right;
    margin-right: 33px;
}

.menu-picture2 {
   
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: right;
    

}

.menu-picture3 {
    grid-column: 1/3;
    grid-row: 2/3;


}

.menu-picture4 {
    grid-column: 3/5;
    grid-row: 2/3;
    margin-left: 15px;

}

.menu-picture5 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.menu-picture6 {
    grid-column: 3/5;
    grid-row: 3/4;
    margin-left: 15px;
}

.menu-picture7 {
    grid-column: 1/3;
    grid-row: 4/5;

}

.txt2 h2 {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 0 60px;
}

.menu-picture8 {
    grid-column: 2/4;
    grid-row: 4/5;
    display: grid;
    grid-auto-flow: column;
}



.logo {
    background: #000000;
    margin-top: 77px;

}

.logo-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1300px;
    align-items: center;
    height: 80px;
    margin: 0 auto;
}

.logo-bottom-current {

    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.logo-bottom-text {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
}